@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s ease;
    font-family: 'Poppins', sans-serif;

    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: #080808;
    background-color: black;
}

.main-width {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0px 20px;
}

.hero {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/image03.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

header {
    padding: 30px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.logo i {
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid red;
    color: red;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

nav .hamb {
    width: 35px;
    height: 24px;
    right: 9%;
    top: 42px;
    z-index: 5;
    background: transparent;
    position: absolute;
    cursor: pointer;
    display: none;
}

nav .hamb span {
    display: block;
    background: red;
    width: 100%;
    height: 3px;
    transition: .3s;
    transition-property: transform, opacity;
}

nav .hamb span:nth-child(2) {
    margin: 7px 0px;
}

nav .nav-list {
    list-style: none;
}

nav .nav-list li {
    display: inline-block;
}

nav .nav-list li a {
    display: inline-block;
    color: #eee;
    margin-left: 55px;
    font-size: 15px;
    font-weight: 600;
}

nav .nav-list li:not(:last-child) a:hover {
    color: red;
    transition: .4s;
}

nav .nav-list li.button a {
    display: inline-block;
    background: transparent;
    border: 2px solid red;
    padding: 9px 28px;
    border-radius: 30px;
    line-height: 1.3;
    color: red;
    font-weight: 500;
}

nav .nav-list li.button:hover a {
    background: red;
    color: white;
    border: 2px solid transparent;
    transition: .4s;
}

/* ------------------------------------about---------------------------------------------------------- */
.row .About-col-2 h1 {
    color: white;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.2;
    margin-left: 0.001px;
    margin-right: 100px;
}

.sub-title p {
    text-align: justify;
}

#About {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.About-col-1 img {
    width: 80%;
    margin-left: 13%;
    border-radius: 15px;
}

.About-col-2 {
    flex-basis: 35%;
}

.About-col-1 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links ::after {
    content: '';
    width: 0;
    height: 3px;
    /* background: red; */
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    ;
}

.tab-contents ul li span {
    color: red;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* -------------------------------Services------------------------------------- */
#services {
    padding: 30px 0;
    margin-top: -60px;
    margin-bottom: -60px;
    margin-left: 100px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 100px;
    margin-top: 10px;
    color: #eee;
}

.container {
    margin-left: 10px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background-color: red;
    transform: translateY(-10px);
}

/* -----------------------Portfolio-------------------------- */
#porfolio {
    padding: 10px 0;
    margin-left: 100px;
    margin-bottom: 50px;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 100px;
    margin-top: 10px;
    color: #eee;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-right: 30px;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: inline-block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), red);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 0 40px; */
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: red;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;

}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid red;
    padding: 24px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #eee;
    transition: background 0.5s;
}

.btn:hover {
    background: red;
}

/* --------------------------Contact Form---------------------------- */
.contact-left {
    margin-left: 100px;
    flex-basis: 35%;
    color: #fff;
}

.contact-right {
    margin-left: -200px;
    margin-top: 0px;
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.contact-left p i {
    color: red;
    margin-right: 25px;
    font-size: 25px;
    margin-bottom: 10px;
}

.btn.btn2 {
    display: inline-block;
    background: red;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    color: #fff;
}

/* -------------------------------------------------------- */
#msg {
    color: #61b752;
    margin-top: -39px;
    display: block;
}

.container {
    padding-top: 110px;
}

.container .hero-text {
    margin-bottom: 40px;
}

.container .hero-text h1 {
    color: white;
    font-size: 47px;
    font-weight: 900;
    line-height: 1.2;
    margin: 20px 0px 5px;
}

span {
    color: red;
}

.container .hero-text h3 {
    color: #eee;
    font-weight: 400;
    font-size: 17px;
}

.container .hero-text p {
    width: 440px;
    max-width: 100%;
    color: #eee;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: justify;
}

.social a {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-top: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #eee;
    cursor: pointer;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 35px;
}

.social a:hover {
    transform: scale(1.1);
    background: red;
    transition: .4s;
}

.container .hero-text button {
    color: #eee;
    background: red;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 30px;
    border: 2px solid red;
    border-radius: 30px;
    cursor: pointer;
}

.container .hero-text button:hover {
    background: transparent;
    border: 2px solid red;
    color: red;
    transition: .4s;
}

.bottom {
    margin-top: 24px;
    padding-bottom: 10px;
}

.bottom p {
    color: #eee;
    letter-spacing: 2px;
    font-size: 15px;
}

@media only screen and (max-width: 800px) {
    nav .hamb {
        display: initial;
    }

    .click {
        top: span;
    }

    .click span {
        position: absolute;
        margin-top: 12px;
    }

    .click span:first-child {
        transform: rotate(-40deg);
    }

    .click span:nth-child(2) {
        opacity: 0;
        margin: 0;
    }

    .click span:last-child {
        transform: rotate(40deg);
        top: 0;
    }

    nav .nav-list {
        position: absolute;
        top: 90px;
        right: -65%;
        bottom: 0;
        width: 40%;
        height: 50%;
        background: black;
        z-index: 2;
        padding: 6% 9%;
        transition: .3s right;
        border-radius: 10px;
    }

    nav .nav-list li {
        display: block;
    }

    nav .nav-list li a {
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        margin-left: 0;
        margin-bottom: 40px;
    }

    nav .nav-list li.btn a {
        position: absolute;
        bottom: 0%;
        right: 20%;
        left: 20%;
        padding: 7px 15px;
        font-size: 14px;
    }

    nav .nav-list {
        display: none;

    }

    nav .nav-list.open {
        right: 0;
        display: block;
    }
}
@media only screen and (max-width: 600px) {
    nav .hamb {
        display: initial;
    }

    .click {
        top: span;
    }

    .click span {
        position: absolute;
        margin-top: 12px;
    }

    .click span:first-child {
        transform: rotate(-40deg);
    }

    .click span:nth-child(2) {
        opacity: 0;
        margin: 0;
    }

    .click span:last-child {
        transform: rotate(40deg);
        top: 0;
    }

    nav .nav-list {
        position: absolute;
        top: 90px;
        right: -65%;
        bottom: 0;
        width: 40%;
        height: 50%;
        background: black;
        z-index: 2;
        padding: 6% 9%;
        transition: .3s right;
        border-radius: 10px;
    }

    nav .nav-list li {
        display: block;
    }

    nav .nav-list li a {
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        margin-left: 0;
        margin-bottom: 40px;
    }

    nav .nav-list li.btn a {
        position: absolute;
        bottom: 0%;
        right: 20%;
        left: 20%;
        padding: 7px 15px;
        font-size: 14px;
    }

    nav .nav-list {
        display: none;

    }

    nav .nav-list.open {
        right: 0;
        display: block;
    }
}












/* Work Section  */

.Sworks {
    background: #ffffff;
    min-height: 100%;
    position: relative;
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.workContainer {
    padding: 15rem 0 25.2rem;
    background: #111111;
}

.workContainer h2 {
    margin-top: -4rem;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--main-color);


}

.p1 {
    display: block;
    text-align: center;
    color: #555;
    font-size: 2rem;
    font-weight: 500;
    max-width: 65rem;
    margin: auto;
    line-height: 1.6;
}

.project img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.projectSection {
    display: flex;
    justify-content: center;
    margin-top: -20rem;
    margin-bottom: 7vw;
    margin-right: 15vw;
    margin-left: 15vw;
    flex-wrap: wrap-reverse;

}

.project {
    display: flex;
    justify-content: center;
    flex: 50%;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    border-radius: 21px;
}

.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 4);
    color: rgb(255, 0, 0);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
}


.bg:hover {
    opacity: 0.9;
}

.caption {
    position: absolute;
    text-align: center;
    color: rgb(255, 0, 0);
    margin: 25px;
    margin-top: -5rem;
    height: 10%;
    width: 80%;
    opacity: 0;
    transition: 0.5s;
}

.material-icons {
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.705);

}

.caption a {
    color: var(--main-color);
}

.caption h1 {
    color: var(--main-color);
    letter-spacing: 2px;
    margin-bottom: 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project:hover img {
    transform: scale(1.4);
}

.project:hover .caption {
    opacity: 1;
}

.workContainer h2 {
    color: #fff !important;
}


@media(max-width:960px) {
    .project {
        flex: 50%;
    }

}

@media(max-width:768px) {
    .project {
        flex: 100%;
    }

}

@media(max-width:550px) {
    .projectSection {
        display: flex;
        justify-content: center;
        margin-top: -20rem;
        margin-bottom: 7vw;
        margin-right: 6vw;
        margin-left: 6vw;
        flex-wrap: wrap-reverse;
    }

    .project {
        flex: 100%;
    }

    .caption {
        width: 85%;
    }

}

@media(max-width:280px) {
    .projectSection {
        display: flex;
        justify-content: center;
        margin-top: -20rem;
        margin-bottom: 7vw;
        margin-right: 3vw;
        margin-left: 3vw;
        flex-wrap: wrap-reverse;
    }
}

/* read more  */

.desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* Work Section  */
















/* Responsive design  */

@media(max-width:1280px) {
    .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .About-col-2 {
        padding: 10px;
    }

    .About-col-1 {
        width: 18rem;
        height: 13rem;
        padding-bottom: 3rem;
    }

    .About-col-1 img {
        width: 100%;
        height: 100%;
        margin-left: 0;
    }

    #services {
        margin: 0rem 1rem;
        /* margin-left: 52px; */
    }

    .services-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #services .container {
        margin-right: 0;
    }

    .work-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .work:hover .layer {
        margin-left: -2rem;
    }

    .portfolio .container {
        margin-left: 0px;
        margin-right: 0px;
    }

    .work {
        width: 25rem;
        height: 17rem;
    }

    .contact-right {
        margin-left: 0px;
    }

    .sub-title {
        text-align: center;
        font-size: 30px;
    }

}

@media(max-width:780px) {
    .project {
        margin: 1rem;
    }
}

@media(max-width:300px) {

    .hamb {
        height: 24px;
        right: 5%;
        top: 45px;
    }
}